.buy-uk {
	// .buy-uk__title;

	&__title {
		margin: 0px 0px 9px 0px;
	}

	// .buy-uk__text

	&__text {
		max-width: 922px;
		font-weight: 300;
		@include adaptiv-value("font-size", 20, 16, 5);
		line-height: 180%;

		a {
			color: #01CD7D
		}
	}

	// .buy-uk__inner

	&__inner {
		@include adaptiv-value("margin-top", 53, 24, 5);
	}

	// .buy-uk__item

	&__item {
		display: flex;
		@include adaptiv-value("margin-bottom", 80, 30, 5);
	}

	.item-uk {

		// .item-uk__image

		&__image {
			flex: 0 0 23%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain
			}
		}

		// .item-uk__content

		&__content {
			@media (min-width: 767.98px) {
				@include adaptiv-value("padding-left", 70, 20, 5);
			}

		}

		// .item-uk__title

		&__title {
			display: flex;
			align-items: center;
			margin: 0px 0px 12px 0px;

			h3 {
				font-weight: 700;
				@include adaptiv-value("font-size", 24, 15, 5);
				line-height: 150%;
				@include adaptiv-value("padding-left", 33, 14, 5);
				position: relative;
				max-width: 380px;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					width: 1px;
					height: 100%;
					background-color: #C0C9D7;
				}
			}

			span {
				display: inline-block;
				font-weight: 400;
				@include adaptiv-value("font-size", 80, 40, 5);
				line-height: 70%;
				color: #01CD7D;
				@include adaptiv-value("padding-right", 46, 18, 5);
			}
		}

		// .item-uk__text

		&__text {
			font-weight: 300;
			@include adaptiv-value("font-size", 18, 14, 5);
			line-height: 200%;
		}
	}

	@media (max-width: 767.98px) {
		.buy-uk__item {
			flex-direction: column-reverse;
			align-items: flex-start;
			margin: 0px 0px 40px 0px;
		}

		.item-uk__image {
			flex: 0 0 200px;
		}

		.item-uk__text {
			margin: 0px 0px 15px 0px;
		}
	}
}

// ==============================================================================================================

