.header {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1800px;
	z-index: 1000;
	background-color: #ffffff;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
	// .header__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 120px;
		@include adaptiv-value("min-height", 120, 70, 5);
		overflow: hidden;
	}

	// .header__logo

	&__logo {
		display: flex;
		align-items: center;
		position: relative;
		@include adaptiv-value("width", 135, 47, 5);

		img {
			max-width: 100%;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 14px;
			background-image: url(../img/others/logo.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: 37px;
			height: 46px;
			max-width: 100%;
		}

		span {
			font-weight: 800;
			@include adaptiv-value("font-size", 30, 18, 1);
			@include adaptiv-value("margin-left", 15, 10, 1);
		}
	}

	// .header__burger
	&__burger {
		display: none;
	}

	.menu {
		// .menu__list

		&__list {
			display: flex;
		}

		// .menu__item

		&__item {
			@media (min-width: 991.98px) {
				@include adaptiv-value("padding-left", 20, 10, 1);
				@include adaptiv-value("padding-right", 20, 10, 1);
			}
		}

		// .menu__link

		&__link {
			font-weight: 600;
			@include adaptiv-value("font-size", 15, 14, 2);
			line-height: 187%;
			color: $color1;
			transition: opacity 0.4s ease;
			position: relative;

			@media (min-width: 991.98px) {
				&:hover {
					opacity: 0.7;
				}
			}

			&.notifications {
				padding: 0px px 0px 0px;

				&::after {
					content: '2';
					position: absolute;
					right: -22px;
					top: -10px;
					background-color: #01CD7D;
					color: #ffffff;
					border-radius: 50%;
					width: 22px;
					height: 22px;
					line-height: 22px;
					text-align: center;
				}
			}
		}
	}


	.right-menu {
		display: flex;
		align-items: center;
		// .right-menu__login

		&__login {
			font-size: 15px;
			@include adaptiv-value("margin-right", 42, 20, 1);
			cursor: pointer;

			a {
				color: $color1;
				font-weight: 600;
				font-size: 15px;
				line-height: 107%;
				transition: opacity 0.4s ease;

				@media (min-width: 991.98px) {
					&:hover {
						opacity: 0.7;
					}
				}
			}

			.icon-user {
				&::before {
					margin: 0px 10px 0px 0px;
				}
			}
		}

		// .right-menu__connect

		&__connect {
			a {
				display: inline-block;
				@include adaptiv-value("width", 170, 125, 5);
				@include adaptiv-value("height", 60, 38, 5);
				@include adaptiv-value("line-height", 60, 38, 5);
				@include adaptiv-value("font-size", 16, 11, 5);
				color: #ffffff;

				@media (min-width: 991.98px) {
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}

	.menu-profile {
		&__info {
			display: flex;
			align-items: center;
			img {
				@include adaptiv-value("width", 58, 35, 2);
				border-radius: 50%;
			}
			span {
				display: inline-block;
				font-weight: 600;
				@include adaptiv-value("font-size", 15, 13, 5);
				@include adaptiv-value("margin-left", 15, 10, 5);
				line-height: 107%;
				border-bottom: 1px dashed #1F2428;
			}
		}
	}

	@media (max-width: 991.98px) {
		&__burger {
			display: inline-block;
			width: 30px;
			height: 18px;
			position: relative;
			z-index: 2;
			cursor: pointer;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #000;
				transition: all 0.3s ease 0s;
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}

			span {
				position: absolute;
				top: 8px;
				width: 100%;
				height: 2px;
				background-color: #000;
				transition: all 0.3s ease 0s;
			}

			&.active {
				@media (min-width: 991.98px) {
					right: 10px;
				}

				&::before {
					top: 8px;
					transform: rotate(45deg);
				}

				&::after {
					bottom: 8px;
					transform: rotate(-45deg);
				}

				span {
					transform: scale(0);
				}
			}
		}

		.menu {
			position: fixed;
			top: 0;
			right: -100%;
			width: 300px;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: auto;
			transition: all 0.3s ease 0s;
			background-color: #484343;

			&.active {
				right: 0;
			}

			&__list {
				flex-direction: column;
				padding: 0px 0px 30px 0px;
				height: 70%;
			}

			&__item {
				margin: 0px 0px 20px 0px;
			}

			&__link {
				color: #ffffff;
				font-size: 26px;
			}
		}
	}

	@media (max-width: 479.98px) {
		&__logo {
			span {
				display: none;
			}
		}
	}
}









/* 
.log {

	// .log__container

	&__container {
		display: none;
		opacity: 0;
		position: relative;
		max-width: 480px;
		width: 100%;
		background: #FFFFFF;
		box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
		border-radius: 16px;
		overflow: hidden;
		transition: opacity 0.3s ease 0s;

		.recovery {
			opacity: 0;
			transition: opacity 0.9s ease;
		}

		&.active {
			opacity: 1;
			display: block;
			.log__forms {
				height: 440px;
			}
			.login {
				margin-left: -50%;
				opacity: 0;
				transition: margin-left 0.18s ease, opacity 0.15s ease;
			}	
			.recovery {
				opacity: 1;
				transition: opacity 0.2s ease; 
			}
		}
	}

	// .log__forms

	&__forms {
		display: flex;
		align-items: center;
		height: 640px;
		width: 200%;
		transition: height 0.3s ease 0s;
	}

	// .log__form

	&__form {
		width: 50%;
		padding: 42px 38px 51px 42px;
		background-color: #ffffff;
		transition: margin-left 0.18s ease;
	}

	// .log__title

	&__title {
		display: inline-block;
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
	}

	// .log__sub

	&__sub {
		font-weight: 300;
		font-size: 16px;
		line-height: 162%;
		margin: 9px 0px 0px 0px;
	}
}

.login {

	// .login__items

	&__items {
		margin: 21px 0px 24px 0px;
	}

	// .login__item

	&__item {
		display: flex;
		flex-direction: column;
		margin: 0px 0px 15px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		label {
			font-weight: 700;
			font-size: 16px;
			line-height: 225%;
			margin: 0px 0px 4px 0px;
		}

		input {
			background: #FCFDFF;
			border: 1px solid #C0C9D7;
			border-radius: 6px;
			height: 60px;
			width: 100%;
			padding: 10px;
			padding-right: 40px;
			font-size: 17px;

			&:is(:focus, :valid)~i {
				color: #4267B2;
				transition: all 0.3s ease 0s;

			}
		}

		.inp-pass {
			position: relative;
			width: 100%;

			i {
				position: absolute;
				top: 22px;
				transition: all 0.3s ease 0s;
			}

			.show-hide-pw {
				right: 15px;
				cursor: pointer;
			}

		}
	}

	// .login__recovery

	&__recovery {
		font-weight: 400;
		font-size: 14px;
		line-height: 114%;
		margin: 0px 0px 30px 0px;

		&.mb {
			margin: 0px 0px 0px 0px;
			flex: 0 0 45%;
		}

		a {
			font-weight: 400;
			color: #01CD7D;
			text-decoration: none;
			transition: all 0.3s ease 0s;

			@media (min-width: 991.98px) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	// .login__it

	&__it {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .login__btn

	&__btn {
		flex: 0 0 50%;
		height: 60px;
		line-height: 60px;
	}

	// .login__social

	&__social {
		display: flex;

		a {
			width: 48px;
			height: 48px;
			line-height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			color: #ffffff;
			font-size: 24px;
			margin: 0px 7px 0px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}

			&:nth-child(1) {
				background-color: #EA4335;
			}

			&:nth-child(2) {
				background-color: #4267B2;
			}

			&:nth-child(3) {
				background-color: #5181B8;

			}
		}
	}
} */