.order {
   @include adaptiv-value("padding-top", 76, 30, 5);
   // .order__inner

   &__inner {}

   // .order__items

   &__items {
      @include adaptiv-value("margin-bottom", 100, 50, 5);

      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }

   // .order__heading

   &__heading {
      display: flex;
      align-items: center;
      @include adaptiv-value("margin-bottom", 40, 20, 5);
   }


   // .order__balance

   &__balance {
      border: 1px solid #01CD7D;
      color: #01CD7D;
      transition: all 0.3s ease 0s;
      background-color: transparent;
      border-radius: 36px;
      font-weight: 700;
      @include adaptiv-value("width", 180, 130, 5);
      @include adaptiv-value("height", 48, 38, 5);
      @include adaptiv-value("line-height", 48, 38, 5);
      @include adaptiv-value("font-size", 13, 10, 5);
      @include adaptiv-value("margin-right", 14, 10, 5);


      @media (min-width: 991.98px) {
         &:hover {
            border: 1px solid #01CD7D;
            background-color: #01CD7D;
            color: #FFFFFF;
         }
      }
   }



   // .order__request

   &__request {
      @include adaptiv-value("width", 280, 220, 5);
      @include adaptiv-value("max-height", 48, 35, 5);
      @include adaptiv-value("line-height", 48, 35, 5);
      @include adaptiv-value("font-size", 13, 10, 5);
   }

   // .order__title

   &__title {
      flex: 1 1 auto;
      @include adaptiv-value("font-size", 26, 13, 5);
      font-weight: 700;
      line-height: 138%;
      padding: 0px 6px 0px 0px;

   }

   // .order__new-virtual
   &__new-virtual {
      @include adaptiv-value("width", 350, 250, 2);
      margin: 0px 8px 0px 0px;
      background: #FFFFFF;
      border: 1px solid #01CD7D;
      color: #01CD7D;
      transition: all 0.3s ease 0s;
      display: none;

      &.active {
         display: block;
      }

      @media (min-width: 991.98px) {
         &:hover {
            background: #01CD7D;
            border: 1px solid #fff;
            color: #fff;
         }
      }
   }

   // .order__new-virtual, order__new
   &__new-virtual,
   &__new {
      @include adaptiv-value("height", 48, 35, 5);
      @include adaptiv-value("line-height", 48, 35, 5);
      @include adaptiv-value("font-size", 16, 10, 5);
   }

   // .order__new
   &__new {
      width: 200px;
   }

   // .order__right

   &__right {
      display: flex;
      align-items: center;
   }

   // .order__info

   &__info {
      display: flex;
      justify-content: space-between;
   }

   // .order__buttons

   &__buttons {
      flex: 0 0 22%;
      padding: 0px 10px 0px 0px;
      transition: flex 0.3s ease;
   }

   // .order__btn

   &__btn {}

   // .order__searching

   &__searching {
      @include adaptiv-value("margin-bottom", 35, 20, 5);
   }

   // .order__form-inner

   &__form-inner {
      display: flex;
      align-items: center;
   }

   // .order__fields

   &__fields {
      position: relative;
      display: flex;

      i {
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
         @include adaptiv-value("font-size", 18, 10, 5);
         @include adaptiv-value("padding-right", 26, 12, 5);
         color: #01CD7D;
         cursor: pointer;
      }
   }

   // .order__search

   &__search {
      background: #FCFDFF;
      border: 1px solid #C0C9D7;
      border-radius: 120px;
      @include adaptiv-value("padding-left", 30, 10, 5);
      @include adaptiv-value("padding-right", 62, 30, 5);
      @include adaptiv-value("padding-bottom", 22, 8, 5);
      @include adaptiv-value("padding-top", 22, 8, 5);
      @include adaptiv-value("width", 420, 150, 5);
      @include adaptiv-value("font-size", 17, 11, 5);

      &::placeholder {
         @include adaptiv-value("font-size", 17, 11, 5);
      }

   }

   // .order__filter

   &__filter {
      @include adaptiv-value("margin-left", 30, 5, 5);

      button {
         background: #FFFFFF;
         border: 1px solid #01CD7D;
         border-radius: 120px;
         @include adaptiv-value("padding", 20, 5, 5);



         img {
            @include adaptiv-value("width", 20, 15, 5);
            @include adaptiv-value("height", 20, 15, 5);
            pointer-events: none;
         }
      }
   }

   // .order__filter-options 

   &__filter-options {
      height: 0;
      display: flex;
      align-items: center;
      @include adaptiv-value("margin-top", 40, 20, 2);
      transition: all 0.3s ease 0s;
      transform: scale(0);
      &.active {
         transform: scale(1);
         height: auto;
      }

      .order-fields {
         display: flex;
         align-items: center;
         @include adaptiv-value("margin-right", 30, 10, 2);
         @include adaptiv-value("font-size", 13, 10, 2);

         .withoutdate {
            color: #222222;
            font-weight: 600;
            opacity: 1;
         }

         &:last-child {
            margin: 0px 0px 0px 0px;
         }

         .w-140 {
            @include adaptiv-value("width", 140, 80, 2);
            @include adaptiv-value("margin-right", 28, 7, 2);

            &:last-child {
               margin: 0px 0px 0px 0px;
            }
         }

         .w-180 {
            @include adaptiv-value("width", 180, 80, 2);
         }

         select {
            border: 1px solid #C0C9D7;
            @include adaptiv-value("border-radius", 6, 3, 5);
            @include adaptiv-value("height", 60, 40, 2);
            @include adaptiv-value("padding", 20, 5, 2);
            @include adaptiv-value("padding-left", 28, 5, 2);
            @include adaptiv-value("width", 320, 140, 2);
            @include adaptiv-value("font-size", 13, 10, 2);
         }

         input,
         select {
            @include adaptiv-value("font-size", 16, 10, 5);
            cursor: pointer;
         }

         input::placeholder {
            @include adaptiv-value("font-size", 14, 10, 2);
         }

         input[type=text] {
            border: 1px solid #C0C9D7;
            @include adaptiv-value("border-radius", 6, 3, 5);
            @include adaptiv-value("height", 60, 40, 2);
            @include adaptiv-value("padding", 20, 5, 2);
            @include adaptiv-value("padding-left", 28, 5, 2);
         }

         input[type=reset] {
            background-color: transparent;
            font-weight: 600;
            @include adaptiv-value("font-size", 13, 10, 2);
            line-height: 123%;
            color: #01CD7D;
         }

         input[type=radio] {
            position: relative;
            @include adaptiv-value("width", 28, 20, 2);
            @include adaptiv-value("height", 28, 20, 2);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            @include adaptiv-value("margin-right", 18, 5, 2);

            &::before {
               content: '';
               position: absolute;
               top: 50%;
               left: 50%;
               @include adaptiv-value("width", 28, 18, 2);
               @include adaptiv-value("height", 28, 18, 2);
               border-radius: 50%;
               transform: translate(-50%, -50%);
               background-color: white;
               border: 2px solid #01CD7D;
            }

            &:checked::after {
               content: '';
               position: absolute;
               top: 50%;
               left: 50%;
               @include adaptiv-value("width", 20, 10, 2);
               @include adaptiv-value("height", 20, 10, 2);
               border-radius: 50%;
               background-color: #01CD7D;
               transform: translate(-50%, -50%);
               visibility: visible;
            }
         }
      }
   }

   // .order__btn-show

   &__btn-show {
      @include adaptiv-value("width", 180, 90, 2);
      @include adaptiv-value("height", 60, 30, 2);
      @include adaptiv-value("line-height", 60, 30, 2);
      @include adaptiv-value("margin-right", 30, 5, 2);
      @include adaptiv-value("font-size", 13, 10, 5);
   }

   // .order__columns

   &__columns {
      @include adaptiv-value("margin-bottom", 30, 10, 5);

      form {
         display: flex;
      }

      button.btn-green {
         @include adaptiv-value("width", 180, 100, 5);
         @include adaptiv-value("height", 60, 35, 5);
         @include adaptiv-value("line-height", 60, 35, 5);
         @include adaptiv-value("font-size", 13, 10, 5);
      }
   }

   // .order__inp

   &__inp {
      flex: 0 0 24%;
      @include adaptiv-value("margin-right", 15, 5, 5);
   }

   // .order__date

   &__date,
   &__select {
      border: 1px solid #C0C9D7;
      border-radius: 6px;
      @include adaptiv-value("height", 60, 35, 5);
      @include adaptiv-value("padding-right", 20, 5, 5);
      @include adaptiv-value("padding-left", 20, 5, 5);
      @include adaptiv-value("font-size", 14, 10, 5);
      font-weight: 300;
      color: #222222;
      opacity: 0.6;
      width: 100%;

      input {
         width: 100%;
         height: 100%;
      }
   }

   // .order__select {

   &__select {}

   // .order__item

   &__item {
      max-height: 360px;
      overflow: auto;

      &::-webkit-scrollbar-thumb {
         border-radius: 36px;
         background-color: #01CD7D;
      }

      &::-webkit-scrollbar {
         background: #C0C9D7;
         width: 3px;
         height: 3px;
      }
   }

   // .order__table

   &__table {
      border-collapse: collapse;
      width: 100%;



      tr {}

      th {
         text-align: left;
         font-weight: 700;
         @include adaptiv-value("font-size", 15, 10, 5);
         line-height: 160%;
         background: #F2F6FC;
         padding: 19px 20px;
         position: relative;
         text-align: center;
         cursor: pointer;
         white-space: nowrap;

         &:last-child {
            padding: 0;

            &::after {
               display: none;
            }
         }

         &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            transform: translateY(-50%);
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #1f2428;
            @include adaptiv-value("margin-left", 8, 2, 5);
         }
      }

      td {
         font-weight: 300;
         @include adaptiv-value("font-size", 14, 11, 5);
         line-height: 171%;
         border-bottom: 1px solid #eee;
         @include adaptiv-value("padding-left", 12.5, 5, 5);
         @include adaptiv-value("padding-right", 12.5, 5, 5);
         padding-top: 9px;
         padding-bottom: 9px;
         text-align: center;

         button {
            @include adaptiv-value("width", 140, 70, 5);
            @include adaptiv-value("height", 42, 20, 5);
            @include adaptiv-value("line-height", 42, 20, 5);
            border-radius: 36px;
            font-weight: 700;
            @include adaptiv-value("font-size", 13, 9, 5);
            text-align: center;
            color: #C0C9D7;
            background: #FFFFFF;
            border: 1px solid #C0C9D7;

            &.border {
               border: 1px solid #01CD7D;
               color: #01CD7D;
               transition: all 0.3s ease 0s;

               @media (min-width: 991.98px) {
                  &:hover {
                     border: 1px solid #01CD7D;
                     background-color: #01CD7D;
                     color: #FFFFFF;
                  }
               }
            }
         }

         .icon-clock,
         .icon-user {
            color: #828282;
         }

         .icon-dollar {
            color: #F2994A;
         }

         .icon-location {
            color: #2D9CDB;
         }

         .icon-box {
            color: #BB6BD9;
         }

         .icon-check {
            color: #27AE60;
         }
      }
   }

   @media (max-width: 767.98px) {
      .order__buttons {
         flex: 0 0 40%;
      }

      .order__heading {
         flex-direction: column;
         align-items: stretch;
      }

      .order__title {
         margin: 0px 0px 10px 0px;
      }

      .order__new-virtual {
         width: 100%;
         margin: 0px 0px 10px 0px;

      }

      .order__new {
         width: 100%;
      }

      .order__filter-options {
         flex-direction: column;

         .order-fields {
            width: 100%;
            flex: none;
            margin-right: 0;
            margin-bottom: 10px;

            select,
            .w-140,
            .w-180 {
               width: 46.5%;
               padding: 0 8px;
            }

            .w-140 {
               width: 48%;
               margin-right: 10px;

               &:last-child {
                  margin-right: 0;
               }
            }

            input[type=radio] {
               margin: 0px 5px 0px 0px;
            }

            .withoutdate {
               font-size: 12px;
            }

            .order__btn-show {
               margin-right: 10px;
               width: 150px;
               height: 30px;
               line-height: 30px;
               font-size: 13px;
            }

            .order__link-reset {
               font-size: 13px;
            }
         }
      }
   }

   @media (max-width: 479.98px) {
      .order__info {
         flex-direction: column;
         margin: 0px 0px 20px 0px;
      }

      .order__form-inner {
         justify-content: start;
      }

      .order__fields {
         flex: 1 1 auto;

         input {
            width: 100%;
         }
      }

      .order__filter-options {
         justify-content: space-between;

         .order-fields {
            select {
               width: 100%;
            }
         }

         .w-140,
         .w-180 {
            width: 50%;
         }

         input[type=radio] {
            margin: 0px 5px 0px 0px;
         }

         .withoutdate {
            font-size: 12px;
         }

         .order__btn-show {
            margin-right: 10px;
            width: 80px;
            height: 25px;
            line-height: 30px;
            font-size: 13px;
         }

         .order__link-reset {
            font-size: 13px;
         }
      }
   }
}

.profile-tabs {

   // .profile-tabs__buttons

   &__buttons {}

   // .profile-tabs__btn

   &__btn {}
}