.popup-account {

   // .popup-account__container

   &__container {
      position: absolute;
      top: -150%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.25);
      opacity: 0;
      max-width: 480px;
      width: 90%;
      max-height: 90%;
      height: auto;
      padding: 20px 30px;
      background: #FFFFFF;
      box-shadow: 0 0 10px 5px rgb(0 0 0);
      border-radius: 10px;
      z-index: 1000;
      overflow: auto;
      transition: top 0s ease-in-out 200ms,
         opacity 200ms ease-in-out 0s,
         transform 200ms ease-in-out 0s;

      &.show {
         top: 50%;
         transform: translate(-50%, -50%) scale(1);
         opacity: 1;
         transition: top 0s ease-in-out 0ms,
            opacity 200ms ease-in-out 0s,
            transform 200ms ease-in-out 0s;
      }

      .popup-account__close {
         position: absolute;
         top: 10px;
         right: 10px;
         width: 20px;
         height: 20px;
         line-height: 20px;
         border-radius: 50%;
         background: #888;
         color: #eee;
         text-align: center;
         cursor: pointer;
      }


      .recovery {
         display: none;
         opacity: 0;
         transition: opacity 0s ease;
      }

      &.active {
         display: flex;
         opacity: 1;


         .login {
            display: none;
            margin-left: -50%;
            opacity: 0;
            transition: margin-left 0s ease, opacity 0s ease;
         }

         .recovery {
            display: block;
            opacity: 1;
            transition: opacity 0s ease;
         }
      }
   }


   // .popup-account__title

   &__title {
      display: inline-block;
      font-weight: 700;
      @include adaptiv-value("font-size", 24, 16, 5);
      line-height: 133%;
   }


   // .popup-account__item

   &__item {
      label {
         font-weight: 700;
         @include adaptiv-value("font-size", 16, 13, 5);
         line-height: 225%;
         margin: 0px 0px 4px 0px;
      }

      input {
         background: #FCFDFF;
         border: 1px solid #C0C9D7;
         border-radius: 6px;
         @include adaptiv-value("height", 60, 35, 5);
         width: 100%;
         padding: 10px;
         padding-right: 40px;
         @include adaptiv-value("font-size", 17, 13, 5);

         &:is(:focus, :valid)~i {
            color: #4267B2;
            transition: all 0.3s ease 0s;

         }
      }
   }

   // .popup-account__pass

   &__pass {
      position: relative;
      width: 100%;

      i {
         position: absolute;
         top: 38%;
         transition: all 0.3s ease 0s;
      }

      .show-hide-pw {
         right: 15px;
         cursor: pointer;
      }
   }

   // .popup-account__recovery

   &__recovery {
      font-weight: 400;
      @include adaptiv-value("font-size", 14, 11, 5);
      line-height: 114%;
      @include adaptiv-value("margin-bottom", 30, 15, 5);
      @include adaptiv-value("margin-top", 30, 15, 5);

   }

   // .popup-account__link

   &__link {
      font-weight: 400;
      color: #01CD7D;

      @media (min-width: 991.98px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .popup-account__signup-link

   &__signup-link {}

   // .popup-account__item-soc

   &__item-soc {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .popup-account__btn

   &__btn {}

   // .popup-account__social

   &__social {
      display: flex;

      a {
         @include adaptiv-value("width", 48, 30, 5);
         @include adaptiv-value("height", 48, 30, 5);
         @include adaptiv-value("line-height", 48, 30, 5);
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         color: #ffffff;
         @include adaptiv-value("font-size", 24, 16, 5);
         @include adaptiv-value("margin-right", 7, 4, 5);

         &:last-child {
            margin: 0px 0px 0px 0px;
         }

         &:nth-child(1) {
            background-color: #EA4335;
         }

         &:nth-child(2) {
            background-color: #4267B2;
         }

         &:nth-child(3) {
            background-color: #5181B8;

         }
      }
   }

   // .popup-account__sub

   &__sub {
      font-weight: 300;
      @include adaptiv-value("font-size", 16, 13, 5);
      line-height: 162%;
      margin: 9px 0px 0px 0px;
   }

   // .popup-account__login

   &__login {}

   // .popup-account__button

   &__button {
      @include adaptiv-value("width", 200, 120, 5);
      @include adaptiv-value("height", 60, 40, 5);
      @include adaptiv-value("line-height", 60, 40, 5);
   }
}